*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  color: #2196f3;
  text-decoration: none;
  transition: all .2s;
}

a:hover {
  color: #f44336;
}

.list {
  margin: 20px;
  list-style: none;
  user-select: none;
}

.list li {
  font-size: 18px;
}

.list li + li {
  margin-top: 20px;
}

.list li a {
  display: inline-block;
  background-color: #2196f3;
  color: #fff;
  padding: 4px 10px;
}

.list li a:hover {
  background-color: #f44336;
}

.list-item {
  font-size: 18px;
  user-select: none;
}

.list-item a {
  display: inline-block;
  margin: 10px;
  background-color: #2196f3;
  color: #fff;
  padding: 4px 10px;
}

.list-item a:hover {
  background-color: #f44336;
}

.back {
  display: inline-block;
  margin: 10px;
  padding: 6px 10px 4px;
  border: 2px solid;
  background-color: #f7f7f7;
  text-transform: uppercase;
  font-weight: 700;
  user-select: none;
}

.back:hover {
  background-color: transparent;
}

.wrapper {
  max-width: 600px;
  padding: 20px;
}

.input {
  display: block;
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: inherit;
  letter-spacing: .05em;
  border: 1px solid #bdbdbd;
  resize: vertical;
}

.input:focus {
  outline: none;
}
